<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
</head>
<body>
	<header th:insert="fragments.html :: nav"></header>

	<div class="container">
		<div
			style="width: 600px; margin-left: auto; margin-right: auto; margin-top: 24px; padding: 24px;">
			<div class="card">
				<div class="card-block" style="padding: 24px;">
					<div>
					<form th:action="@{'/home/director/dodaj_ucznia/do_klasy/'}" method="post" >
						<fieldset>
							<center><h6>Dodaj ucznia do klasy</h6></center>
							<br>
							<div class="form-group">
								<label for="classGroupId">Klasa: </label>
								<select class="custom-select" name="classGroupId" id="classGroupId">
									<option th:each="classGroup : ${listClassGroups}" th:value="${classGroup.id}" th:text="${classGroup.name}" ></option>
								</select>
							</div>
							<br/>
							<div class="form-group">
								<label for="studentId">Uczeń: </label>
								<select class="custom-select" name="studentId" id="studentId" >
									<option name="lastName"  th:each="student : ${liststudents}" th:value="${student.id}" th:text="${student.firstName + ' ' + student.lastName + ' ' + student.pesel}" ></option>
								</select>
							</div>

							<br/>
							<div class="form-actions" style="margin-top: 12px;"><button  type="submit" style="float: right;" class="btn btn-primary">Dodaj</button></div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
