<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
    <title>Rejestracja</title>

</head>

<body>
<header th:insert="fragments.html :: nav"></header>
<div class="container">
    <div style="width: 800px; margin-left: auto; margin-right: auto; margin-top: 24px; padding: 24px;">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-user"></i> Zarejestruj ucznia i rodzica</div>
            <div class="card-block" style="padding: 24px;">
                <form th:action="@{/home/director/rejestracja_ucznia_i_rodzica}" method="post" th:object="${userDTO}">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="pesel">PESEL ucznia:</label>
                            <input type="text" class="form-control" id="pesel" name="pesel" placeholder="PESEL ucznia" th:field="*{pesel}">
                            <p th:if="${#fields.hasErrors('pesel')}" th:errors="*{pesel}" class="alert alert-danger" role="alert">Name Error</p>
<!--                            <span  align="center" th:if="${message}">	<div class="alert alert-danger" role="alert">-->
<!--                             <span th:text="${message}">  </span></div>-->
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password">Haslo ucznia:</label>
                            <i class="fa fa-lock"  aria-hidden="true"></i>  <input type="password" class="form-control" id="password"  name="password"  placeholder="Hasło ucznia" th:field="*{password}">
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger" role="alert">Name Error</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstName">Imię ucznia:</label>
                            <input type="text" class="form-control" id="firstName" name="firstName"  placeholder="Imię ucznia" th:field="*{firstName}">
                            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="alert alert-danger" role="alert">Name Error</p>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastName">Nazwisko ucznia:</label>
                            <input type="text" class="form-control" id="lastName" name="lastName"  placeholder="Nazwisko ucznia" th:field="*{lastName}">
                            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="alert alert-danger" role="alert">Name Error</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="birthDate">Data urodzin ucznia:</label> <input type="date" class="form-control" id="birthDate" name="birthDate"
                                                                               placeholder="Data urodzin" th:field="*{birthDate}">
                            <p th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="alert alert-danger" role="alert">Name Error</p>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password2">Haslo rodzica:</label>
                            <input type="password" class="form-control" id="password2" name="password2" placeholder="Hasło rodzica" >
                            <p th:if="${message}" class="alert alert-danger" role="alert" th:text="${message}" ></p>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" style="float: right;">Zarejestruj</button>
                </form>
<!--                <form th:action="@{/login}" method="GET"><button style="float: left;" type="submit" class="btn btn-info">Cofnij</button></form>-->
            </div>
        </div>
    </div>
</div>

</body>
</html>







