<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles">
</head>
<body>
<header th:insert="fragments.html :: nav"></header>
<div class="container">
    <div class="row my-5">
    </div>
    <div
            style="width: 600px; margin-left: auto; margin-right: auto; margin-top: 24px; padding: 24px;">
        <div class="card">
            <div class="card-block" style="padding: 24px;">
                <form th:action="@{/home/director/dodaj_ogloszenie}" method="post">
                    <fieldset>
                        <div class="form-group">
                            <label for="text">Treść: </label>
                            <textarea type="text" class="form-control" id="text" name="text" placeholder="Podaj treść ogłoszenia" rows="3"></textarea>
                        </div>
                        <div class="form-actions" style="margin-top: 12px;">
                            <button type="submit" style="float: right;" class="btn btn-primary">DODAJ</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<table class="table col-7">
    <thead>
    <tr>
        <th  scope="col">Treść ogłoszenia: </th>
        <th scope="col">Data dodania: </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="announcement : ${AnnouncementList}">
        <td th:text="${announcement.text}"></td>
        <td th:text="${announcement.dateTime}"></td>
        <td  >
            <a  href="#" th:href="@{'/home/director/usun_ogloszenie/'+ ${announcement.id}}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>