<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
</head>
<body>
	<header th:insert="fragments.html :: nav"></header>

	<div class="container">
		<div style="width: 600px; margin-left: auto; margin-right: auto; margin-top: 24px; padding: 24px;">
			<div class="card">
				<div class="card-block" style="padding: 24px;">
					<form th:action="@{/home/director/dodaj_klase}"  th:object="${classGroupDTO}" method="post" >
						<fieldset>
							<center><h6>Dodaj klase</h6></center>
							<br>
							<div class="form-group">
								<label for="name">Podaj nazwe klasy: </label>
								<input type="text" class="form-control" id="name" name="name" th:field="*{name}" placeholder="">
								<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger" role="alert">Name Error</p>
							</div>
							<div class="form-actions" ><button  type="submit"  class="btn btn-primary">Dodaj</button></div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
