<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
</head>
<body>
	<header th:insert="fragments.html :: nav"></header>

	<div class="container">
		<div
			style="width: 600px; margin-left: auto; margin-right: auto; margin-top: 24px; padding: 24px;">
			<div class="card">
				<div class="card-block" style="padding: 24px;">
					<div>

					<form th:action="@{/home/director/generuj_plan_lekcji}" method="post" >
						<fieldset>
							<center><h6>Generowanie Planu dla klas</h6></center>
							<br>
							<br/>
							<div class="form-actions" style="margin-top: 12px;"><button  type="submit" style="float: right;" class="btn btn-primary">Stwórz plan zajęć</button></div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>



<!--		<form th:action="@{/home/director/generuj_plan_lekcji}" method="GET" >-->
<!--		<label for="classGroup">Klasa </label>-->
<!--		<select class="form-control" id="classGroup" name="classGroup"  >-->
<!--			<option selected></option>-->
<!--			<option  th:object="${classGroup}" th:each="classGroup : ${listClassGroups}"-->
<!--					 th:value="${classGroup.id}"-->
<!--					 th:text="${classGroup.name}"></option>-->
<!--		</select>-->
<!--			<div class="form-actions" style="margin-top: 12px;"><button  type="submit" style="float: right;" class="btn btn-primary">Stwórz plan zajęć</button></div>-->
<!--		</form>-->





</body>
</html>
