<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
</head>
<body>
	<header th:insert="fragments.html :: nav"></header>
	<table class="table table-striped">
		<thead>
		<tr>
			<th scope="col">Nazwa klasy</th>
			<th scope="col"></th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="classGroup : ${listClassGroups}">
			<td th:text="${classGroup.name}"></td>
			<td>
				<a href="#" th:href="@{'/home/director/usun_klase/'+ ${classGroup.id}}" class="btn btn-danger btn-sm px-3">Usuń</a>
			</td>
		</tr>
		</tbody>
	</table>
</body>
</html>
