<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles">
</head>
<body>
<header th:insert="fragments.html :: nav"></header>

<!--<form th:object="${user}" th:method="PUT">-->
<!--    <fieldset>-->
<!--&lt;!&ndash;        <p th:text="*{id}"></p>&ndash;&gt;-->
<!--        <p th:text="*{personRelatedWithSchool.firstName}"></p>-->
<!--        <p th:text="*{personRelatedWithSchool.lastName}"></p>-->

<!--&lt;!&ndash;        <input type="number" th:field="*{money}" th:value="*{money}" />&ndash;&gt;-->
<!--        <input type="text" th:field="*{personRelatedWithSchool.firstName}" th:value="*{personRelatedWithSchool.firstName}" />-->
<!--        <input type="text" th:field="*{personRelatedWithSchool.lastName}" th:value="*{personRelatedWithSchool.lastName}" />-->

<!--        <input type="submit" value="Edit" />-->
<!--    </fieldset>-->
<!--</form>-->




<div class="container">
    <div style="width: 800px; margin-left: auto; margin-right: auto; margin-top: 24px; padding: 24px;">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-user"></i> Zarejestruj ucznia i rodzica</div>
            <div class="card-block" style="padding: 24px;">
                <form  th:action="@{'/home/director/konto/'+ ${user.id}}" method="POST" th:object="${user}">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="pesel">PESEL</label>
                            <input id="pesel" class="form-control" type="text" th:field="*{personRelatedWithSchool.pesel}" th:value="*{personRelatedWithSchool.pesel}" />
                            <!--                            <span  align="center" th:if="${message}">	<div class="alert alert-danger" role="alert">-->
                            <!--                             <span th:text="${message}">  </span></div>-->
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password">Haslo</label>
                            <i class="fa fa-lock"  aria-hidden="true"></i><input id="password" class="form-control" type="password" th:field="*{password}" th:value="*{password}" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstName">Imię</label>
                            <input id="firstName" class="form-control" type="text" th:field="*{personRelatedWithSchool.firstName}" th:value="*{personRelatedWithSchool.firstName}"/>

                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastName">Nazwisko</label>
                            <input id="lastName" class="form-control" type="text" th:field="*{personRelatedWithSchool.lastName}" th:value="*{personRelatedWithSchool.lastName}"/>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="dateBirth">Data urodzin</label><input id="dateBirth" class="form-control" type="text" th:field="*{personRelatedWithSchool.dateBirth}" th:value="*{personRelatedWithSchool.dateBirth}"/>
                        </div>
                        <!--                        <div class="form-group col-md-6">-->
                        <!--                            <label for="pesel">PESEL</label>-->
                        <!--                            <input type="text" class="form-control" id="pesel" name="pesel" placeholder="" th:field="*{pesel}">-->
                        <!--                            <p th:if="${#fields.hasErrors('pesel')}" th:errors="*{pesel}" class="alert alert-danger" role="alert">Name Error</p>-->
                        <!--                        </div>-->
                    </div>
                    <div>
                        <button type="submit"  class="btn btn-primary" style="float: right;">Edytuj</button>
                </form>
                <!--                <form th:action="@{/login}" method="GET"><button style="float: left;" type="submit" class="btn btn-info">Cofnij</button></form>-->
            </div>
        </div>
    </div>
</div>






</body>
</html>