<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles">
</head>
<body>
<header th:insert="fragments.html :: nav"></header>
<div class="container">
    <h1 class="display-5"></h1>

<!--    <span th:text="${#authentication.getName()}"></span>-->

<!--    <div th:if="${currentuser} == ${#authentication.getName()}"> TAKI SAM </div>-->
<!--    <div th:if="${currentuser} != ${#authentication.getName()}"> NIE TAKI SAM</div>-->
<!--    <br>-->



</body>
</html>
