<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
</head>
<body>
	<header th:insert="fragments.html :: nav"></header>

	<div class="container">
		<div
			style="width: 600px; margin-left: auto; margin-right: auto; margin-top: 24px; padding: 24px;">
			<div class="card">
				<div class="card-block" style="padding: 24px;">

					<form th:action="@{'/home/teacher/dodaj_uwage/classGroup'}" th:object="${noteToJournal}" method="post" >
						<fieldset>
							<div class="form-group">
								<label for="student2">Klasa:  </label>
								<select  class="custom-select" name="student2" id="student2" >
									<option selected></option>
									<option th:each="student : ${listStudents}" th:value="${student.id}" th:text="${ student.firstName +' '+ student.lastName}"   ></option>
								</select>
							</div>
							<div class="form-group">
								<label for="type">Rodzaj:  </label>
								<select class="custom-select" name="type" id="type" >
									<option selected></option>
									<option th:each="type : ${typeNoteToJournal}" th:value="${type}" th:text="${type}"  ></option>
								</select>
							</div>
							<div class="form-group">
								<label for="name">Dodaj Treść: </label>
								<textarea class="form-control" name="name" id="name" rows="3"></textarea>
							</div>

						</fieldset>

					<div>
						<div class="form-actions" style="margin-top: 12px;"><button  type="submit" style="float: right;" class="btn btn-primary">Dodaj</button></div>
					</form>
						<form th:action="@{/home/teacher/dodaj_uwage}" method="GET"><button  type="submit" class="btn btn-info">Cofnij</button></form>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>
