<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">

</head>
<script>
	function singleSelectChangeValue() {
		var e = document.getElementById("classGroup");
		var value = e.options[e.selectedIndex].value;
		var text = e.options[e.selectedIndex].text;
		console.log(text);
		alert(value);
	}
</script>
<body>
<header th:insert="fragments.html :: nav"></header>

	<div class="container">
		<div
			style="width: 600px; margin-left: auto; margin-right: auto; margin-top: 24px; padding: 24px;">
			<div class="card">
				<div class="card-block" style="padding: 24px;">

					<form  th:action="@{'/home/teacher/dodaj_uwage/classGroup/'+ ${classGroupDTO.id}}" th:object="${classGroupDTO}"  method="GET" >
						<fieldset  >
							<div class="form-group">
								<label for="id">Klasa: </label>
								<select  class="custom-select" name="id" id="id">
									<option selected></option>
									<option   th:each="list : ${listClassGroups}" th:value="${list.id}" th:text="${list.name}" th:field="*{id}"  ></option>

								</select>
								<div>
								<span  align="center" th:if="${message}">	<div class="alert alert-danger" role="alert">
                				<span th:text="${message}">  </span>
            					</div></span>
								</div>
							</div >

<!--							<a th:href="@{/home/teacher/dodaj_uwage/classGroup/{id}(id = ${list.id})}">view</a>-->
<!--								<a class="btn btn-info" th:object="${classGroup}" th:href="@{/home/teacher/dodaj_uwage/classGroup/{id}(id = ${classGroup.id})}" style="float: right;">View Post</a>-->
							<br />
									<div class="form-actions" style="margin-top: 12px;"><button  type="submit" style="float: right;" class="btn btn-primary">Dalej</button></div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
