<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Fragment #1 : Headerfiles contains css and js references -->
<head th:fragment="headerfiles">
	<meta charset="UTF-8">
<title>Dziennik elektroniczny</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="/home" style="margin-left: 25%;">E-dzienniczek</a>

		<!-- Links -->
		<ul class="navbar-nav mr-auto" >
<!--			<li class="nav-item">-->
<!--				<a class="nav-link" href="#">Link 1</a>-->
<!--			</li>-->
<!--			<li class="nav-item">-->
<!--				<a class="nav-link" href="#">Link 2</a>-->
<!--			</li>-->

			<li sec:authorize="hasRole('ROLE_STUDENT')" class="nav-link"><a class="nav-link" href="#" th:href="@{/home/student/plan_lekcji}">Plan lekcji</a></li>
			<li sec:authorize="hasRole('ROLE_TEACHER')" class="nav-link"><a class="nav-link" href="#" th:href="@{/home/teacher/plan_lekcji}">Plan lekcji</a></li>
			<li sec:authorize="hasRole('ROLE_STUDENT')" class="nav-link"><a  class="nav-link" href="#" th:href="@{/home/student/oceny}">Oceny</a></li>
			<li sec:authorize="hasRole('ROLE_STUDENT')" class="nav-link"><a class="nav-link" href="#" th:href="@{/home/student/nieobecnosci}">Frekwencja</a></li>
			<li sec:authorize="hasRole('ROLE_STUDENT')" class="nav-link"><a class="nav-link" href="#" th:href="@{/home/student/prace_domowe}">Prace domowe</a></li>
			<li sec:authorize="hasRole('ROLE_STUDENT')" class="nav-link"><a class="nav-link" href="#" th:href="@{/home/student/ustawienia}">Ustawienia</a></li>
			<li sec:authorize="hasRole('ROLE_DIRECTOR')" class="nav-item"><a class="nav-link" href="#" th:href="@{/home/director}">Admin</a></li>
			<li sec:authorize="hasRole('ROLE_DIRECTOR')" class="nav-item"><a class="nav-link" href="#" th:href="@{/home/director/rejestracja_uzytkownikow}">Rejestracja</a></li>

			<!-- Dropdown -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbardrop1" data-toggle="dropdown" sec:authorize="hasRole('ROLE_DIRECTOR')">Nauczyciel
				</a>
				<div class="dropdown-menu" >
					<a class="dropdown-item" sec:authorize="hasRole('ROLE_DIRECTOR')" th:href="@{/home/director/dodaj_nauczyciela}">Dodaj nauczyciela</a>
					<a class="dropdown-item" href="#">Usuń nauczyciela</a>
					<a class="dropdown-item" sec:authorize="hasRole('ROLE_DIRECTOR')" th:href="@{/home/director/dodaj_wychowawce}">Dodaj wychowawcę</a>
				</div>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbardrop2" data-toggle="dropdown" sec:authorize="hasRole('ROLE_DIRECTOR')">Klasa
				</a>

				<div class="dropdown-menu" >
					<a class="dropdown-item" th:href="@{/home/director/dodaj_klase}">Dodaj klase</a>
					<a class="dropdown-item" href="#">Usuń klase</a>
					<a class="dropdown-item" th:href="@{/home/director/dodaj_ucznia_do_klasy}">Dodaj ucznia do klasy</a>
				</div>
			</li>

			<!--NAUCZYCIEL-->

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbardrop5" data-toggle="dropdown" sec:authorize="hasRole('ROLE_TEACHER')">Frekwencja
				</a>

				<div class="dropdown-menu" >
					<a class="dropdown-item" th:href="@{/home/teacher/dodaj_ocene}">Sprawdz obecność</a>
				</div>
			</li>


			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbardrop3" data-toggle="dropdown" sec:authorize="hasRole('ROLE_TEACHER')">Oceny
				</a>
				<div class="dropdown-menu" >
					<a class="dropdown-item" th:href="@{/home/teacher/dodaj_ocene}">Dodaj ocenę</a>

				</div>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbardrop4" data-toggle="dropdown" sec:authorize="hasRole('ROLE_TEACHER')">Uwaga/Pochwała
				</a>
				<div class="dropdown-menu" >
					<a class="dropdown-item" th:href="@{/home/teacher/dodaj_uwage}">Dodaj uwage</a>
					<a class="dropdown-item" th:href="@{/home/teacher/dodaj_uwage}">Usuń uwage</a>
				</div>
			</li>
		</ul>

		<div style="margin-right: 100px;">
		<h4 class="text-light bg-dark"  th:each="authority : ${#authentication.getAuthorities()}"
		   th:if="${authority.getAuthority().startsWith('ROLE_DIRECTOR')}"
		   th:text="${authority.getAuthority().replaceFirst('ROLE_DIRECTOR', 'Dyrektor')}">
		</h4>
			<h4 class="text-light bg-dark"  th:each="authority : ${#authentication.getAuthorities()}"
				th:if="${authority.getAuthority().startsWith('ROLE_TEACHER')}"
				th:text="${authority.getAuthority().replaceFirst('ROLE_TEACHER', 'Nauczyciel')}">
			</h4>

			<h4 class="text-light bg-dark"  th:each="authority : ${#authentication.getAuthorities()}"
				th:if="${authority.getAuthority().startsWith('ROLE_STUDENT')}"
				th:text="${authority.getAuthority().replaceFirst('ROLE_STUDENT', 'Uczeń')}">
			</h4>
			<h4 class="text-light bg-dark"  th:each="authority : ${#authentication.getAuthorities()}"
				th:if="${authority.getAuthority().startsWith('ROLE_PARENT')}"
				th:text="${authority.getAuthority().replaceFirst('ROLE_PARENT', 'Rodzic')}">
			</h4>
		</div>

			<h6 sec:authorize="hasAnyRole('ROLE_TEACHER')"></h6>
			<form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">
			<button sec:authorize="isAuthenticated()" class="btn btn-danger" type="submit">Wyloguj</button>
			<button sec:authorize="isAnonymous()" th:href="@{~/login}" class="btn btn-primary" type="submit">Zaloguj</button>
			</form>
	</nav>

</body>
</html>
